{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}



<!-- <button type="submit"> &raquo;</button> -->


<table>
    <a href="{% url 'add_price_data' %}">Add New Price</a>
    {% for c in btc reversed %}
    
    <tr>
        <td>{{c.date}}</td>
        <td>{{c.price}}</td>
        <td>{{c.close}}</td>
        <td>{{c.high}}</td>
        <td>{{c.low}}</td>
        <td><a href="">Edit</a></td>
        <td><a href="{% url 'delete_date' c.date %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}