{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}


<input id="searchDate" type="text" placeholder="Search for a date">
<!-- <div id="searchButton">Search</div> -->
<!-- Button trigger modal -->
<button id="searchButton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Search
  </button>
<br>
<a href="{% url 'add_price_data' %}">Add New Price</a>


<table>
    

    {% for c in btc reversed %}
    
    <tr>
        <td>{{c.date}}</td>
        <td>{{c.price}}</td>
        <td>{{c.close}}</td>
        <td>{{c.high}}</td>
        <td>{{c.low}}</td>
        <td><a href="{% url 'edit_date' c.date %}">Edit</a></td>
        <td><a href="{% url 'delete_date' c.date %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}