{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}


<a href="{% url 'add_price_data' %}">Add New Price<i class="material-icons">add</i></a>

<table class="table">
    
  <tr>
      <th scope="col">Date</th>
      <th scope="col">Price</th>
      <th scope="col" >Edit</th>
      <th scope="col" >Delete</th>
    </tr>
    {% for coin in btc %}
  
  <tr>
      <td>{{coin.date}}</td>
      <td>{{coin.price}}</td>
      <td><a href="{% url 'edit_date' coin.date %}"><i class="material-icons">edit</i></a></td>
      <td><a href="{% url 'delete_date' coin.date %}"><i class="material-icons">delete</i></a></td>
  </tr>
  {% endfor %}
</table>
   
{% endblock %}