:root {
  --background: #1F2833;
  --font: #C5C6C7;
  --header: #66FCF1;
  --navbar: #C5C6C7;
 
}

body { 
  background-color: var(--background);
  color: var(--font);
}

label {
  display: block;
}

h1, h2, a, button, #submit-btn, span {
  color: #66FCF1;
}


#navbar {
  position: relative;
}

.container {
  margin-top: 80px;
}

.table {
  color: var(--font);
}



/* * {
  border: solid 1px yellow;
} */

.metric_detail_img {
  width: 100%;
}

@media only screen and (max-width: 990px) {
  .container {
    margin-top: 100px;
  }
}